img{
    width: 400px;
    height: 250px;
}
.word{
    background-color: yellow;
    font-style: italic;
}
h1{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
.container{
    width: 700px;
    margin: auto;
    border: 10px solid #73AD21;
}